/* Footer */
#footer {
  background-color: #069b85;
  color: white;
  padding: 20px 0;
  text-align: center;
}

#footer .footer-content p {
  margin-bottom: 10px;
}

#footer nav ul {
  list-style-type: none;
}

#footer nav ul li {
  display: inline;
  margin-left: 15px;
}

#footer nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

#footer nav ul li a:hover {
  text-decoration: underline;
}
