/* Reset básico para remover margens/paddings e normalizar o layout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  flex: 1;
  padding: 20px;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #eeeaea;
  color: #333;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #2f3031;
  padding: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Estilo para cada item de livro */
.book {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
}

.book:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.book h3 {
  font-size: 1.2rem;
  color: #333;
  padding: 15px;
  background-color: #f8f8f8;
  text-align: center;
}

.book img {
  width: 100%;
  height: auto;
  display: block;
  border-bottom: 1px solid #ddd;
}

.book p {
  padding: 10px 15px;
  font-size: 1rem;
  color: #555;
}

.book form {
  padding: 15px;
  text-align: center;
}

.book input[type="date"] {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

#no-results {
  text-align: center;
  font-size: 1.2rem;
  align-items: center;
  color: #ff4d4f;
  margin-top: 40px;
}

#search-again-btn {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#search-again-btn:hover {
  background-color: #0056b3;
}

/* Responsividade */
@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  .book h3 {
    font-size: 1rem;
  }

  .book p {
    font-size: 0.9rem;
  }

  .book input[type="date"] {
    font-size: 0.9rem;
  }

  .book button {
    font-size: 0.9rem;
  }
}
